section#head {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	padding: 50px 0;
	height: 63px;
	text-align: center;
	line-height: 0;
}
section#head #logo {
	display: inline-block;
	background: url('../graphics/logo.png');
	width: 65px;
	height: 65px;
}
section#head h1 {
	display: inline-block;
	position: relative;
	text-align: right;
	bottom: 20px;
	width: 268px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2em;
	font-weight: 400;
	line-height: 75px;
	height: 75px;
	color: #fff;
}
div#main-container {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	background: #f5f5f5;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 0 30px rgba(255,255,255,0.1);
}
section#intro {
	width: 100%;
	height: 600px;
	background: #DEDFE1 url('../boats.jpg') 0% 50%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	position: relative;
}
section#intro #body {
	width: 230px;
	position: absolute;
	top: 60px;
	left: 70px;
}
section#intro #body h1 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 26px;
	font-size: 2.2em;
	font-weight: 400;
	color: #111;	
}
section#intro #body h2,
div#info-container #body h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-align: left;
	font-weight: 300;
	font-size: 0.92em;
	line-height: 150%;
	margin-bottom: 30px;
	color: #333;
}
section#intro #body a {
	cursor: pointer;
	color: #4A90E2;
	font-weight: 700;
	text-decoration: none;
	transition: .2s color ease-in-out;
	-webkit-transition: .2s color ease-in-out;
}
section#intro #body a:hover {
	color: #76abe9;
}
section#intro #body a.button {
	color: #111;
	border: 2px solid #111;
	border-radius: 8px;
	font-size: 0.8em;
	transition: .2s background ease-in-out;
	-webkit-transition: .2s background ease-in-out;
}
section#intro #body a.button:hover {
	background: rgba(0,0,0,0.1);
}
div#main {
	width: 100%;
	overflow: auto;
	background: #f5f5f5;
}
section#current {
	height: 250px;
	width: 100%;
}
section#current h1#title {
	float: left;
	font-family: 'Montserrat', sans-serif;
	padding: 30px;
	margin-top: 37.5px;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 148%;
	text-align: center;
	color: #54524A;
	width: 40%;
	height: 175px;
	border-right: 1px solid #979797;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
div#projects {
	float: right;
	width: 52%;
	height: 100%;
	display: table;
	vertical-align: middle;
}
div#projects-inner {
	display: table-cell;
	vertical-align: middle;
}
div#projects-inner .project {
	cursor: pointer;
	height: 64px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	text-decoration: none;
}
div#projects-inner .project:last-child {
	margin-bottom: 0;
}
div#projects-inner .project .icon {
	display: inline-block;
	margin-right: 20px;
	width: 64px;
	height: 64px;
	background: #fff;
	border-radius: 10px;
}
div#projects-inner .project h1 {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	color: #86847F;
	position: relative;
	bottom: 25px;
	font-size: 1.5em;
	font-weight: 400;
	left: 0;
	transition: .16s left ease-in-out, .2s color ease-in-out;
	-webkit-transition: .16s left ease-in-out, .2s color ease-in-out;
}
div#projects-inner .project:hover h1 {
	transition: .16s left ease-in-out, .2s color ease-in-out;
	-webkit-transition: .16s left ease-in-out, .2s color ease-in-out;
	left: 7px;
	color: #111;
}
div#info-container {
	width: 90%;
	height: 480px;
	margin: 0 auto;
	border-radius: 6px;
	background: #8E725F url('../computer.jpg') 50% 50% / cover;
	position: relative;
}
div#info-container #body {
	width: 280px;
	position: absolute;
	top: 60px;
	right: 70px;
}
div#info-container #body h2 {
	color: #fff;
	line-height: 160%;
}
div#info-container #body a.button {
	background: #FE5E61;
	border: none;
	font-size: 0.8em;
	padding: 14px 20px;
	border-radius: 8px;
	transition: .2s background ease-in-out;
	-webkit-transition: .2s background ease-in-out;
	color: #fff;
}
div#info-container #body a.button:hover {
	background: #fe8082;
}
section#social {
	width: 100%;
	height: 77px;
	text-align: center;
	padding-top: 43px;
}
.sicon {
	display: inline-block;
	margin-right: 16px;
	cursor: pointer;
	height: 40px;
	width: 40px;
	transition: .1s transform ease-in-out;
	-webkit-transition: .1s transform ease-in-out;
}
.sicon:hover {
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	transform: translateY(-4px);

}
.sicon.gh {
	background: url('../icons/github.png');
}
.sicon.d {
	background: url('../icons/dribbble.png');
}
.sicon.as {
	background: url('../icons/appstore.png');
}
.sicon.li {
	background: url('../icons/linkedin.png');
}
section#social .sicon:last-child {
	margin-right: 0;
}

/* ----= Retina Styles =---- */

@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2) {
	section#head #logo {
		background-image: url('../graphics/logo@2x.png');
		background-size: 65px 65px;
	}
	.sicon.gh {
		background-image: url('../icons/github@2x.png');
		background-size: 40px 40px;
	}
	.sicon.d {
		background-image: url('../icons/dribbble@2x.png');
		background-size: 40px 40px;
	}
	.sicon.as {
		background-image: url('../icons/appstore@2x.png');
		background-size: 40px 40px;
	}
	.sicon.li {
		background-image: url('../icons/linkedin@2x.png');
		background-size: 40px 40px;
	}
}