body,
html {
	height: 100%;
}
body {
	background: #1B1A17;
}
a.button {
	font-weight: 400 !important;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}