body,
html {
	height: 100%;
}
.blur {
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
body {
	background: #F7F4F2;
}
#post {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	z-index: 3;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	overflow: scroll;
	width: 100%;
	background: rgba(255,255,255,0.6);
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
#post.active {
	opacity: 1;
	pointer-events: all;
}
#post .inner {
	text-align: center;
	display: table-cell;
	vertical-align: middle;	
}
#post .inner h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 130%;
	font-size: 2.4em;
	width: 600px;
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: middle;
}
#post .inner h2 {
	display: inline-block;
	vertical-align: middle;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	line-height: 166%;
	text-align: left;
	color: #2f2f2f;
	width: 500px;
}
#post button {
	padding: 5px 20px;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	background: transparent;
	-webkit-transition: background .2s ease;
	transition: background .2s ease;
	text-transform: uppercase;
	cursor: pointer;
	color: #111;
	border: 2px solid #111;	
}
#post button:hover {
	background: rgba(0,0,0,0.05);	
}
article.full {
	height: 100%;
	width: 100%;
	display: table;
	position: relative;
	text-align: center;
	vertical-align: middle;
	transition: box-shadow .2s ease;
	-webkit-transition: box-shadow .2s ease;
}
article.full.shadow {
	box-shadow: inset 0 -100px 50px -40px #F7F4F2;
}
article.full .inner {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
article.full .inner .graphic {
	margin-right: 50px;
	display: inline-block;
	vertical-align: middle;
}
article.full .inner .desc {
	display: inline-block;
	vertical-align: middle;
}
article h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 130%;
	text-align: left;
}
article h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	line-height: 166%;
	text-align: left;
}
article.full h1 {
	color: #fff;
	font-size: 2em;
}
article.full h2 {
	color: #fff;
	font-size: 1em;
}
article button {
	padding: 10px 20px;
	display: inline;
	margin-right: 20px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	background: transparent;
	-webkit-transition: background .2s ease;
	transition: background .2s ease;
	text-transform: uppercase;
	cursor: pointer;
	float: left;
	color: #fff;
	border: 1.4px solid #fff;
}
article button:hover {
	background: rgba(255,255,255,0.1);
}
section.halfwrap {
	width: 750px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 50px;
}
article.half {
	display: table;
	height: 350px;
	width: 350px;
	float: left;
	background: #fff;
	margin-bottom: 50px;
	border-radius: 3px;
	background-position: center center !important;
	background-size: cover !important;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
article.half h1 {
	width: 100%;
	padding: 0 7%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #111;
	font-size: 1.8em;
	position: relative;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
article.half h2 {
	display: none;
}
article.half:hover h1,
article.half.active h1 {
	opacity: 1;
}
article.half.active {
	cursor: auto;
}
article.half::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
article.half.active::after,
article.half:hover::after {
	opacity: 0.85;
}
article.half:nth-of-type(2n+1) {
	margin-right: 50px;
}



article#periodic {
	background: rgb(247,134,93);
	background: -moz-linear-gradient(top,  rgba(247,134,93,1) 0%, rgba(248,85,89,1) 74%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,134,93,1)), color-stop(74%,rgba(248,85,89,1)));
	background: -webkit-linear-gradient(top,  rgba(247,134,93,1) 0%,rgba(248,85,89,1) 74%);
	background: -o-linear-gradient(top,  rgba(247,134,93,1) 0%,rgba(248,85,89,1) 74%);
	background: -ms-linear-gradient(top,  rgba(247,134,93,1) 0%,rgba(248,85,89,1) 74%);
	background: linear-gradient(to bottom,  rgba(247,134,93,1) 0%,rgba(248,85,89,1) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7865d', endColorstr='#f85559',GradientType=0 );
}